.motivation-img{
    height: 200px;
    margin-top: 50px;
    ;
}
body{
    background-color: black;
}
.poster{
    margin-top: 100px;
    width: 90%;
    color: white;
    text-align: center;
    margin-left: 25%;
    border: 10px solid;
    font-family: "Caveat" ;
}
h1{
    text-transform: uppercase;
    font-size: 2rem;
}
